body{
  /* background-image: url('../src/images/image2.jpg'); */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('../src/images/image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(degree-of-blur); 
  padding: 0.4rem;
}

.App{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap:0.5rem;
}

.sidebar{
  width: 4.5%;
  height: auto;
  border-right: 0.01px solid #67036ed1 ;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) );
  border-radius: 16px;
}

.dashboard{
  width: 96.5%;
  height: auto;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
  border-radius: 16px;

}

.profile{
  margin-bottom: 0px;
}